.calendarpage { 
  position: fixed;
  top: 7%;
  width: 100%;
  height: 93%;
  background-color:white;
  display: flex;
  flex-direction: row;
}

.calendar-component {
  padding: 10px;
}
.rbc-event,
.rbc-day-slot, .rbc-background-event {
  font-size: 16px;
  border:0 !important;
  max-height: 42px !important;

}
.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
  color:#BE123C !important;
  font-weight: 900;
}
.rbc-time-slot {
background-color: white !important;

}
.rbc-day-slot .rbc-event-content {
  color: #EB5757 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.MuiFormGroup-root {
  flex-direction: column !important; /* is not working*/
}
.MuiFormControlLabel-root {
  margin-left: 0;
  margin-right: 0;
}
.rbc-header + .rbc-header {
  height: 50px;
}
.rbc-show-more {
  font-size: 45% !important;
}

.makeStyles-root-1 > * {
  width: 200px !important;
  margin: 8px;
}

.filter-calendar {
  max-width: 20%;
  align-items: center;
  margin-top: 30px;
  color: black;
  font-size: 15px;
}
.choose-dentist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px !important;
  width: 210px !important;
  margin-left: 5px;
}
.MuiFormControl-marginNormal {
  width: 210px !important;
  margin-left: 5px !important;
}
.choose-treatment{
  margin-bottom: 20px !important;
  width: 210px !important;
  margin-left: 5px;
}
.filter-dentist-list {
  display: flex;
  flex-direction: column !important;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  color: black;
}

.MuiFormControlLabel-root {
  padding-right: 80px !important;
  padding-left: 20px !important;
}

.apply-button {
  background-color: #3e64ff !important;
  color: white !important;
  text-transform: uppercase !important;
}

.button-wrapper {
  display: flex ;
  align-items: center ;
  justify-content: center ;
}

.choose {
  background-color: transparent !important;
  box-shadow: none !important;
  text-transform: none !important;
}

.modal {
  height: auto !important;
  width: auto !important; 
  text-align: start;
  display: flex;
  overflow: scroll;
  align-items: center;
  justify-content: center ;
  overflow: scroll;
}

.modal-content {
  color: #222b45;
  padding: 10px 25px !important;
  border-radius: 4px ;
  background-color: white !important;
}

h5 {
  margin:15px 0px  ;
}

.modal-title{
  margin:0 !important;
  font-size: 16px;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
  color: #FFFFFF !important;
  background-color: #DC2626 !important;
}